# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug/
Release/

#python
*.pyc
*.pyo

#vs
*.sdf
*.opensdf
*.exp
ipch/

save.dat
